.btn:hover {
    color: #fff !important;
}

/* ----- 100MB ------ */
.bg-tit-100 {
    background: linear-gradient(90deg, #69003b 0%, #ff58db 100%);
    background-image: linear-gradient(90deg, #69003b 0%, #ff58db  100%);
}
.bg-100, .bg-100:link, .bg-100:visited {
    background: #ff58db;
}
.bg-100:hover {
    background: #69003b;
}

/* ----- 300MB ------ */
.bg-tit-300 {
    background: linear-gradient(90deg, #003DFF 0%, #00C3D6 100%);
    background-image: linear-gradient(90deg, #003DFF 0%, #00C3D6 100%);
}
.bg-300, .bg-300:link, .bg-300:visited  {
    background: #00C3D6; 
}
.bg-300:hover {
    background: #003DFF;
}

/* ----- VILLA MITRE ------ */
.bg-tit-mitre {
    background: linear-gradient(90deg, #016435 0%, #01cf6a 100%);
    background-image: linear-gradient(90deg, #016435 0%, #01cf6a 100%);
}
.bg-mitre, .bg-mitre:link, .bg-mitre:visited {
    background: #016435;
}
.bg-mitre:hover{
    background: #01cf6a;
}

/* ------ COMBO ------ */
.bg-tit-combo {
    background: linear-gradient(90deg, #ff008c 0%, #0085e4 100%);
    background-image: linear-gradient(90deg, #ff008c 0%, #0085e4 100%);
}
.bg-combo, .bg-combo:link, .bg-combo:visited {
    background: #0085e4;
}
.bg-combo {
    background: #ff008c;
}
