<!DOCTYPE html>
<html lang="es-AR">

<head>
    <meta http-equiv="Content-Type" content="text/html; ">
    <meta charset="utf-8">
    <title>Eternet: Notificaciones</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Forzar initial-scale no es necesario -->
    <meta content="IE"="edge" http-equiv="X-UA-Compatible" />
    <!-- La ultima version de (edge) IE rendering engine -->
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&amp;display=swap"
        rel="stylesheet" type="text/css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://promos.eternet.cc/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://promos.eternet.cc/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://promos.eternet.cc/images/favicon-16x16.png" />
    <link rel="manifest" href="https://promos.eternet.cc/images/site.webmanifest" />
    <link rel="mask-icon" href="https://promos.eternet.cc/images/safari-pinned-tab.svg" color="#ff7000" />
    
</head>
<style>
    .font-1 {font-size: 18px;}
    .font-2 {font-size: 28px;}
    .small {font-size: 18px;}
    .tittle {font-size: 30px;}

    @media (max-width: 992px) {
    .font-1 {font-size: 16px;}
    .font-2 {font-size: 22px;}
    .small {font-size: 12px;}
    .tittle {font-size: 24px;}
    }
</style>
<body
    style="max-width: 600px; font-family: Poppins !important; color: #000000;line-height: 25px; background-color: #fff !important; box-sizing: border-box; margin: 0px auto; padding: 25px; ">
    <div>
        <div style="padding: 0px;margin: 0px;line-height: -36px;">
            <img style="width: 100%; border-radius: 8px; margin-bottom: 15px;" src="https://cdn.eternet.cc/mailing/notificaciones/factura-digital/factura.jpg" alt="1° Vencimiento">
        </div>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tbody>
                <tr height="25px"></tr>
                <tr>
                    <td style="width:48%; padding: 20px; font-weight: 600; background-color: #f0f0f0; text-align: center; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;">
                        <p class="font-1" style="margin-block-start: 0px; margin-block-end: 0px;">Importe</p>
                        <p class="font-2" style="font-weight: 600; color: #FF5100; margin-block-start: 10px; margin-block-end: 0px;">{{total}}</p>
                    </td>
                    <td style="width: 4%;"></td>
                    <td style="width:48%; padding: 20px; font-weight: 600; background-color: #f0f0f0; text-align: center; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;">
                        <p class="font-1" style="margin-block-start: 0px; margin-block-end: 0px;">Vencimiento</p>
                        <p class="font-2" style="font-weight: 600; color: #FF5100; margin-block-start: 10px; margin-block-end: 0px;">{{fecha}}</p>
                    </td>
                </tr>
                <tr height="25px"></tr>
            </tbody>
        </table>
        <div style="margin: 0 auto;">
            <table align="center" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td align="center" bgcolor="#FF5100" style="padding: 10px 20px; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; color:#ffffff; display:block;">
                            <a href="{{VerFactura}}" style="color:#ffffff; font-size:18px; font-weight:bold; text-decoration:none; width:100%; display:inline-block;" target="_new">
                            Ver Factura</a>
                        </td>
                    </tr>
                    <tr height="25px"></tr>
                </tbody>
            </table>
        </div>
        <div>
        <tr height="30px"></tr>   
        <img style="border-radius: 2px; width: 100%; height: 2px;" alt="linea divisoria" src="https://cdn.eternet.cc/mailing/images/line.gif">
        <tr height="30px"></tr>    
        </div>
        <div style="max-width: 600px; min-width: 300px; text-align: center">
            <img style="height: 50px; margin: 25px auto; display: inline-block;" class="mt m-auto" src="https://cdn.eternet.cc/mailing/vencimientos/store.png" alt="">
            <h2 class="tittle" style=" margin-block-start: 0px; margin-block-end: 0px; padding-bottom: 25px;">Lugares y
                Medios de pago</h2>
            <table style="display: inline-block; margin-left: auto; margin-right: auto">
                <tr>
                    <td>
                        <p
                            style=" font-weight: 600; color: #FF5100 !important; text-decoration: none !important; margin-block-start: 0px; margin-block-end: 0px;">
                            <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                href="http://www.ripsa.com.ar/centros-de-pago#" target="_new">RIPSA</a>
                            |
                            <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                href="https://www.cobroexpress.com.ar/" target="_new">COBRO EXPRESS</a>
                            |
                            <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                href="https://www.rapipago.com.ar/rapipagoWeb/" target="_new">RAPIPAGO</a>
                            <BR>
                            <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                href="https://www.prontopago.com.ar/" target="_new">PRONTO PAGO</a>
                                |
                            <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                href="https://www.eternet.cc/EntidadesCobros.aspx" target="_new">ETERNET ON LINE</a>
                                |
                                <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                href="https://www.prontopago.com.ar/" target="_new">PRONTO PAGO</a>
                                |
                            <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                href="https://www.e-pagofacil.com/#/" target="_new">PAGO FÁCIL</a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-info-gray"
            style="max-width: 600px; ;background-color: #f0f0f0;border-radius: 8px;padding: 20px; margin-top: 5px; text-align: center;">
            <p class="font-1" style=" font-weight: 400; margin-block-start: 0px; margin-block-end: 0px">En estos
                medios, deberás indicar tu <strong style="font-weight: 500;">N° de cliente </strong>
                <br>
               <strong style="font-weight: 500; color: #FF5100;">{{ID_Cliente}}</strong></p>
        </div>
        <div style="max-width: 600px;  text-align: center;margin-top: 40px;">
            <table style="display: inline-block; margin-left: auto; margin-right: auto;">
                <tr>
                    <td>
                        <p
                            style=" font-weight: 600; color: #FF5100 !important; text-decoration: none !important; margin-block-start: 0px; margin-block-end: 0px;">
                            <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                href="https://pagomiscuentas.com/" target="_new">PAGOMISCUENTAS</a>
                                |
                            <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                href="https://www.redlink.com.ar/pagoelectronico.html" target="_new">PAGOS LINK</a>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div
            style="max-width: 600px;background-color: #f0f0f0;border-radius: 8px; padding: 20px; margin-top: 5px; text-align: center;">
            <p class="font-1" style=" font-weight: 400; margin-block-start: 0px; margin-block-end: 0px">Si vas a pagar por <strong>PagoMisCuentas </strong>o<strong> Pagos Link</strong> utilizá <strong>el código de pago electrónico</strong> que figura en tu factura que es el N° <strong style="font-weight: 500; color: #FF5100;">{{cod_electronico}}</strong>
            </p>
        </div>
        <tr height="30px"></tr>   
        <img style="border-radius: 2px; width: 100%; height: 2px;" alt="linea divisoria" src="https://cdn.eternet.cc/mailing/images/line.gif">
        <tr height="30px"></tr> 
        <div style="max-width: 600px; text-align: center">
            <img style="height: 50px; margin: 25px auto; display: inline-block;" class="mt m-auto" src="https://cdn.eternet.cc/mailing/vencimientos/factura.png" alt="">
            <h2 class="tittle" style=" margin-block-start: 0px; margin-block-end: 0px; padding-bottom: 25px;">Adherite
                al débito automático</h2>
            <div style="text-align: center;margin-bottom: 10px;">
                <p class="font-1" style="font-weight: 400; margin-block-start: 0px;margin-block-end: 0px;  ">Olvidate
                    de los vencimientos y obtené un <br> <strong>25% OFF en tu abono.</strong>
                    <br>
                    <br>
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td></td>
                                <td style="padding: 10px; font-weight: 600; background-color: #FF5100; text-align: center; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px;">
                                <a class="font-1" style="display: block; text-decoration: none; color: #fff ;margin-block-start: 0px; margin-block-end: 0px;" href="https://etn.ar/debito">LO QUIERO</a>
                                
                            </td>
                                <td>
                            </td></tr>
                            <tr height="10px"></tr>
                            <tr>
                                <td></td>
                                <td style="width:40%; font-weight: 300; line-height: 16px; text-align: center;">
                                    <p style="font-size: 14px; color: #000000 ;margin-block-start: 0px; margin-block-end: 0px;">
                                    Hacé la gestión por nuestro sitio web.</p>
                                </td>
                                <td></td> 
                            </tr>
                            <tr height="10px"></tr>
                        </tbody>
                    </table>
                    <small style="font-style: italic;font-weight: 400; font-size: 12px;">*Promoción válida solo para
                        clientes hogar sin otras promociones vigentes.</small>
                </p>
            </div>
        </div>
        <tr height="30px"></tr>   
        <img style="border-radius: 2px; width: 100%; height: 2px;" alt="linea divisoria" src="https://cdn.eternet.cc/mailing/images/line.gif">
        <tr height="30px"></tr> 
        <ul style="display: flex; list-style-type: none; padding:0px; margin-top: 10px; align-items: center; height: 40px;">
            <li style="margin-right: 10px;"><a href="https://www.facebook.com/Eternet.Oficial/" target="_blank" moz-do-not-send="true"><img style="width: 100%;" alt="facebook/eternet.oficial" src="https://cdn.eternet.cc/mailing/images/face.png" ></a></li>
            <li style="margin-right: 10px;"><a href="https://www.instagram.com/eternet.oficial/?hl=es-la" target="_blank" moz-do-not-send="true"><img style="width: 100%;" alt="instagram/eternet.oficial" src="https://cdn.eternet.cc/mailing/images/inst.png"></a></li>
            <li style="margin-right: 50px;"><a href="https://ar.linkedin.com/company/eternetoficial" name="linkedin_eternet" target="_blank" moz-do-not-send="true"><img style="width: 100%;" alt="linkedin" src="https://cdn.eternet.cc/mailing/images/in.png"></a></li>
            <li style="margin-left: auto"><a href="tel:08003453737" target="_blank" moz-do-not-send="true"><img style="width: 100%;" alt="0800-345-3737" src="https://cdn.eternet.cc/mailing/images/tel.png"></a></li>
        </ul>
        <div style=" font-weight: 400; line-height: 16px; max-width: 600px; font-size: 12px; color: #000000; text-align: center;">
            <p style="margin-block-start: 0px; margin-block-end: 0px;">
                Estimado/a cliente este correo fue
                <strong style="font-weight: 500; color: #FF5100;">generado automáticamente</strong>, te pedimos por favor
                <strong style="font-weight: 500; color: #FF5100;">no responderlo</strong>. Te recordamos que podés realizar
                consultas a través del:
                <a style="font-weight: 500;text-decoration: none; color: #FF5100;"
                    href="tel:0800-345-3737">0800-345-3737</a>
                o por WhatsApp al:
                <a style="font-weight: 500;text-decoration: none;color:#FF5100"
                    href="https://wa.me/5492983585651?text=Hola">+5492983585651</a>
            </p>
        </div>
        <div style="max-width: 600px; min-width: 300px; text-align: center">
            <img style="margin: 20px auto; display: inline-block;" class="mt m-auto" src="https://cdn.eternet.cc/mailing/images/logo.png" alt="Eternet">
        </div>
    </div>
</body>
</html>