<!DOCTYPE html>
<html lang="es-AR">

<head>
    <meta http-equiv="Content-Type" content="text/html; ">
    <meta charset="utf-8">
    <title>Eternet: notificaciones</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Forzar initial-scale no es necesario -->
    <meta content="IE"="edge" http-equiv="X-UA-Compatible" />
    <!-- La ultima version de (edge) IE rendering engine -->
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&amp;display=swap"
        rel="stylesheet" type="text/css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://promos.eternet.cc/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://promos.eternet.cc/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://promos.eternet.cc/images/favicon-16x16.png" />
    <link rel="manifest" href="https://promos.eternet.cc/images/site.webmanifest" />
    <link rel="mask-icon" href="https://promos.eternet.cc/images/safari-pinned-tab.svg" color="#ff7000" />
</head>
<style>
    .font-1 {font-size: 18px;}
    .font-2 {font-size: 28px;}
    .small {font-size: 18px;}
    .tittle {font-size: 30px;}

    @media (max-width: 992px) {
    .font-1 {font-size: 16px;}
    .font-2 {font-size: 22px;}
    .small {font-size: 12px;}
    .tittle {font-size: 24px;}
    }
</style>
<body style="max-width: 600px; margin: 0px auto; font-family: Poppins !important; color: #000000;line-height: 25px; background-color: #fff !important; box-sizing: border-box; padding: 25px; ">
    <table style="max-width: 600px; margin: 0px auto;">
        <tbody>
            <tr>
                <td>
                    <div style="padding: 0px;margin: 0px;line-height: 0px;">
                        <img style="width: 100%; border-radius: 8px;" src="https://cdn.eternet.cc/mailing/notificaciones/factura-digital/factura.jpg" alt="Notificación de envío de factura digital">
                        <tr height="15px"></tr>
                    </div>
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr height="15px"></tr>
                            <tr>
                                <td style="width:48%; padding: 20px; font-weight: 600; background-color: #f0f0f0; text-align: center; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;">
                                    <p class="font-1" style="margin-block-start: 0px; margin-block-end: 0px;">Importe</p>
                                    <p class="font-2" style="font-weight: 600; color: #FF5100; margin-block-start: 10px; margin-block-end: 0px;">{{total}}</p>
                                </td>
                                <td style="width: 4%;"></td>
                                <td style="width:48%; padding: 20px; font-weight: 600; background-color: #f0f0f0; text-align: center; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;">
                                    <p class="font-1" style="margin-block-start: 0px; margin-block-end: 0px;">Vencimiento</p>
                                    <p class="font-2" style="font-weight: 600; color: #FF5100; margin-block-start: 10px; margin-block-end: 0px;">{{fecha}}</p>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div style="margin: 0 auto;">
                    <table align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr height="15px"></tr>
                            <tr>
                                <td align="center" bgcolor="#FF5100" style="padding: 10px 20px; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; color:#ffffff; display:block;">
                                    <a href="{{VerFactura}}" style="color:#ffffff; font-size:18px; font-weight:bold; text-decoration:none; width:100%; display:inline-block;" target="_new">
                                    Ver Factura</a>
                                </td>
                            </tr>
                            <tr height="15px"></tr>
                        </tbody>
                    </table>
                </div>
                    <table width="100%" height="2" cellspacing="0" cellpading="0">
                        <tbody>
                            <tr height="15px"></tr>
                            <tr>
                                <td style="-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; background-color: #FF5100;">
                                </td>
                            </tr>
                            <tr height="15px"></tr>
                        </tbody>
                    </table>
                    <table width="100%">
                        <tbody>
                            <tr height="15px"></tr>
                            <tr>
                                <td style="text-align: center;">
                                    <img style="height: 50px; margin: 0px auto; margin-bottom: 25px; display: inline-block;" class="mt m-auto" src="https://cdn.eternet.cc/mailing/vencimientos/store.png" alt="Factura Digital: Ya está disponible tu factura.">
                                    <h2 class="tittle" style="font-weight: bold; margin-block-start: 0px; margin-block-end: 0px;">Lugares y
                                    Medios de pago</h2>
                                </td>
                            </tr>
                            <tr height="15px"></tr>
                            <tr>
                                <td>
                                    <p style=" font-weight: 600; color: #FF5100 !important; text-decoration: none !important; margin-block-start: 0px; margin-block-end: 0px; text-align: center;">
                                        <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                            href="http://www.ripsa.com.ar/centros-de-pago#" target="_new">RIPSA</a>
                                        |
                                        <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                            href="https://www.cobroexpress.com.ar/" target="_new">COBRO EXPRESS</a>
                                        |
                                        <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                            href="https://www.rapipago.com.ar/rapipagoWeb/" target="_new">RAPIPAGO</a>
                                        <BR>
                                        <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                            href="https://www.prontopago.com.ar/" target="_new">PRONTO PAGO</a>
                                            |
                                        <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                            href="https://www.eternet.cc/EntidadesCobros.aspx" target="_new">ETERNET ON LINE</a>
                                            |
                                            <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                            href="https://www.prontopago.com.ar/" target="_new">PRONTO PAGO</a>
                                            |
                                        <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                            href="https://www.e-pagofacil.com/#/" target="_new">PAGO FÁCIL</a>
                                    </p>
                                </td>
                            </tr>
                            <tr height="25px"></tr>
                        </tbody>
                    </table>
                    <table cellpadding="25" width="100%">
                        <tbody>
                            <tr>
                                <td style="background-color: #f0f0f0; border-radius: 8px; text-align: center;">
                                    <p class="font-1" style="font-weight: 400; margin-block-start: 0px; margin-block-end: 0px">En estos
                                        medios, deberás indicar tu <strong style="font-weight: 500;">N° de cliente </strong><strong
                                            style="font-weight: 500; color: #FF5100;">{{id_cliente}}</strong></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellpadding="25" width="100%">
                        <tr>
                            <td>
                                <p style="text-align: center; font-weight: 600; color: #FF5100 !important; text-decoration: none !important; margin-block-start: 0px; margin-block-end: 0px;">
                                    <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                        href="https://pagomiscuentas.com/que-puedo-pagar" target="_new">PAGOMISCUENTAS </a>
                                    |
                                    <a style="text-decoration: none; color: #000000; cursor: pointer;"
                                        href="https://www.redlink.com.ar/pagoelectronico.html" target="_new">PAGO LINK </a>
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table cellpadding="25">
                        <tbody>
                            <tr>
                                <td style="background-color: #f0f0f0; border-radius: 8px; text-align: center;">
                                    <p class="font-1" style=" font-weight: 400; margin-block-start: 0px; margin-block-end: 0px">Si vas a pagar por <strong>PagoMisCuentas </strong>o<strong> Pagos Link</strong> utilizá <strong>el código de pago electrónico</strong> que figura en tu factura que es el N° <strong style="font-weight: 500; color: #FF5100;">{{cod_electronico}}</strong>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%" style="text-align: center;">
                        <tbody>
                            <tr height="25px"></tr>
                            <tr>
                                <td style="text-align: center">
                                    <img style="height: 50px; margin: 0px auto; margin-bottom: 25px; display: inline-block;" src="https://cdn.eternet.cc/mailing/vencimientos/factura.png" alt="">
                                    <h2 class="tittle" style="font-weight: bold; margin-block-start: 0px; margin-block-end: 0px; padding-bottom: 25px;">
                                        Adherite al débito automático</h2>
                                    <div style="text-align: center; margin-bottom: 25px;">
                                        <p class="font-1" style="font-weight: 400; margin-block-start: 0px;margin-block-end: 0px;  ">
                                            Olvidate de los vencimientos y obtené un <br> <strong>25% OFF en tu abono.</strong></p>
                                            <p style="font-size: 12px; font-style: italic;">
                                                *Válido para clientes hogar sin promociones vigentes. </p>
                                            <tr height="15px"></tr>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin: 0 auto;">
                        <table align="center" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td align="center" bgcolor="#FF5100" style="padding: 10px 20px; -webkit-border-radius:30px; -moz-border-radius:30px; border-radius:30px; color:#ffffff; display:block;">
                                        <a href="https://etn.ar/debito" style="color:#ffffff; font-size:16px; font-weight:bold; text-decoration:none; width:100%; display:inline-block;" target="_new">
                                        LO QUIERO</a>
                                    </td>
                                </tr>
                                <tr height="5px"></tr>
                            </tbody>
                        </table>
                    </div>
                    <table width="100%" height="2">
                        <tbody>
                            <tr>
                                <p style=" font-size: 12px; text-align: center;"> Hacé la gestión por nuestro sitio web

                                </p>
                            </tr>
                            <tr height="10px"></tr>
                             <tr>
                                <td style="-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; background-color: #FF5100;">
                                </td>
                            </tr>
                            <tr height="10px"></tr>
                        </tbody>
                    </table>
                    <table height="26" cellpadding="0" cellspacing="8">
                        <tbody>
                            <tr style="max-width: 600px;">
                                <td style="width: 40px; padding-right: 5px;">
                                    <a href="https://www.facebook.com/Eternet.Oficial/" target="_blank" moz-do-not-send="true"><img alt="facebook/eternet.oficial" src="https://cdn.eternet.cc/mailing/images/face.png"></a>
                                </td>
                                <td style="width: 40px; padding-right: 5px;">
                                    <a href="https://www.instagram.com/eternet.oficial/?hl=es-la" target="_blank" moz-do-not-send="true"><img alt="instagram/eternet.oficial" src="https://cdn.eternet.cc/mailing/images/inst.png"></a>
                                </td>
                                <td style="width: 40px; padding-right: 5px;">
                                    <a href="https://ar.linkedin.com/company/eternetoficial" name="linkedin_eternet" target="_blank" moz-do-not-send="true"><img alt="linkedin" src="https://cdn.eternet.cc/mailing/images/in.png"></a>
                                </td>
                                <td style="width:502px; text-align: right; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;">
                                    <a href="tel:08003453737" target="_blank" moz-do-not-send="true"><img style="height: 26px;" alt="0800-345-3737" src="https://cdn.eternet.cc/mailing/images/tel.png"></a>
                                </td>
                            </tr>
                            <tr height="10px"></tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td style=" font-weight: 400; line-height: 16px; font-size: 12px; color: #000000; text-align: center;">
                                    <p style="margin-block-start: 0px; margin-block-end: 0px;">
                                        Estimado/a cliente este correo fue
                                        <strong style="font-weight: 500; color: #FF5100;">generado automáticamente</strong>, te pedimos por
                                        favor
                                        <strong style="font-weight: 500; color: #FF5100;">no responderlo</strong>. Te recordamos que podés
                                        realizar consultas a través del:
                                        <a style="font-weight: 500;text-decoration: none; color: #FF5100;"
                                            href="tel:0800-345-3737">0800-345-3737</a>
                                        o por WhatsApp al:
                                        <a style="font-weight: 500;text-decoration: none;color:#FF5100"
                                            href="https://wa.me/5492983585651?text=Hola">+5492983585651</a>
                                    </p>
                                </td>
                            </tr>
                            <tr height="20px"></tr>
                        </tbody>
                    </table>
                    <div style="max-width: 600px; min-width: 300px; text-align: center">
                        <img style="margin: 0px auto; display: inline-block;" class="mt m-auto"
                            src="https://cdn.eternet.cc/mailing/images/logo.png" alt="Eternet">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>