/* ---- BLAZOR ----*/

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1200;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

 /* ----- VILLA MITRE ------ */

 .bg-mitre {
    background: linear-gradient(90deg, #016435 0%, #01cf6a 100%);
    background-color: rgba(255, 255, 255, 1);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(90deg, #016435 0%, #01cf6a 100%);
}


/* ---- ESTILOS EN COMUNES ----*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    line-height: 1.5;
    color: rgba(85, 85, 85, 1);
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, p, .icon-face, .icon-instagram, .icon-ubicacion {
    color: rgba(238, 238, 238, 1);
}

h1, h2, h4 {
    font-family: "Poppins", "sans-serif";
}

h1, h3, h4 {
    text-align: center;
}

h4, p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
}

h4 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.25rem;
}

p {
    font-weight: 300;
    font-size: 1rem;
}

.gris strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.gris{
    color: rgba(85, 85, 85, 1);
}
.icono-mensaje{
    font-size: 3rem;
}

/*--- ENCABEZADO ---*/

.logo {
    margin: auto 0;
    margin-left: 2rem;
}

.logo svg {
    height: 2rem;
    fill: #fff;
}

/*---- BOTONES ----*/

a, img a {
    margin: 0;
    padding: 0;
    line-height: 0px;
    color: none;
    text-decoration-line: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0px;
    box-shadow: none;
}

.btn {
    padding: 8px 22px;
    border-radius: 6.25rem;
    outline: 0;
    white-space: nowrap;
    padding: 8px 22px;
    font-size: .9rem;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
}

.btn-orange, .btn-orange:link, .btn-orange:visited {
    background-color: #ff7000;
    color: #fff;
}

.btn-orange:focus {
    border-color: rgba(255, 112, 0, 1);
    box-shadow: 0 0 0 0.2rem rgba(255, 112, 0, .25);
}

button[type="submit"]:focus, .btn-orange:focus {
    border: 1px solid rgb(211, 91, 0);
}

.btn-orange:hover {
    background-color:#444;
    color: white;
}

.btn-custom, .btn-custom:link, .btn-custom:visited {
    background-color: #26105C;
    color: #fff;
}

.btn-custom:focus {
    border-color: rgb(75, 75, 75);
    box-shadow: 0 0 0 0.2rem rgba(131, 131, 131, 0.25);
}

button[type="submit"]:focus, .btn-custom:focus {
    border: none;
}

.btn-custom:hover {
    background-color:#ff009d;
    color: #fff;
}

.text-descripcion {
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*---- TOPBAR ----*/

#top-bar {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    font-size: 13px;
}

.dark #top-bar, #top-bar.dark {
    border-bottom-color: rgba(255,255,255,0.1);
    background-color: #282828;
}

#top-social {
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

#top-social li .ts-icon {
    width: 40px;
    text-align: center;
    font-size: .875rem;
}

#top-social li .ts-icon, #top-social li .ts-text {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 36px;
    line-height: 36px;
}

#top-social a {
    display: -ms-flexbox;
    display: flex;
    height: 36px;
    width: auto;
    overflow: hidden;
    font-weight: 700;
    color: #9d9d9d;
}

ul {
    padding-left: 2rem;
    padding-right: 2rem;
}

#top-social li {
    position: relative;
    list-style: none;
}

#top-social li a:hover {
    color: #fff!important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

#top-social li .ts-text {
    max-width: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

#top-social li a:hover .ts-text {
    max-width: 200px;
    padding-right: 12px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.si-colored.si-facebook, .si-facebook:hover {
    background-color: #3b5998!important;
}

.si-colored.si-instagram, .si-instagram:hover {
    background-color: #8a3ab9!important;
}

.si-colored.si-whatsapp, .si-whatsapp:hover {
    background-color: #25d366!important
}

.si-colored.si-telegram, .si-telegram:hover {
	background-color: #0088cc!important;
}

.si-call:hover, .si-colored.si-call {
    background-color: #444!important;
}

/*---- ENCABEZADO ----*/

#logo {
    height: 1.5rem;
    fill: #fff;
}

.localidad {
    font-family: "Poppins", "sans-serif";
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: right;
    margin: auto 0px;
}

.icon-line-map-pin {
    font-size: 1.5rem;
    margin-right: 10px;
}

.tel-800 {
    font-family: "Poppins", "sans-serif";
    font-weight: 600;
    color: #9d9d9d;
    vertical-align: middle;
    margin: auto 0px;
    cursor: pointer;
    transform: all 3s;
}

.tel-800:hover {
    color: #9d9d9d;
    text-decoration: none;
}

.tel-800 i {
    position: relative;
    margin-right: 5px;
    color: #9d9d9d;
}



@media(min-width: 300px) {
    h1 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    .logo {
        margin-left: 1rem;
    }
    .icon-line-map-pin {
        font-size: 1rem;
        margin-right: 10px;
      }
    #encabezado {
        background-color: rgba(56, 56, 56, 1);
        height: 3.5rem;
        transition: all .3s ease-in-out;
    }
    .logo svg {
        height: 1.8rem;
        transition: all .3s ease-in-out;
    }
    .localidad {
        text-transform: uppercase;
        padding-right: 1rem;
        font-size: 0.8rem;
        transition: all .3s ease-in-out;
    }
    .tel-800 {
        font-size: 16px;
        margin-right: 1rem;
    }
    .tel-800 i {
        top: 2px;
    }
    .WhatsApp {
        position: fixed; 
        bottom: 12px; 
        right: 12px; 
        z-index: 999999; 
        width: 67px;
        transform: all 3s;
    }
}

@media(min-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .logo {
        margin-left: 2rem;
    }
    #encabezado {
        background-color: rgba(56, 56, 56, 1);
        height: 4rem;
    }
    .logo svg {
        height: 2.2rem;
    }
    .icon-line-map-pin {
        font-size: 1.5rem;
        margin-right: 10px;
      }
    .localidad {
        padding-right: 2rem;
        font-size: 1.15rem;
    }
    .tel-800 {
        font-size: 22px;
        margin-right: 2rem;
    }
    .tel-800 i {
        top: 2px;
    }
    .WhatsApp {
        position: fixed; 
        bottom: 20px; 
        right: 20px; 
        z-index: 999999; 
        width: 70px;
        transform: all 3s;
    }
    
}

@media (min-width: 920px) {
    .WhatsApp {
        position: fixed; 
        bottom: 30px; 
        right: 30px; 
        z-index: 999999; 
        width: 100px;
        transform: all 3s;
    }
}
/*---- CARACTERISTICAS ----*/

.icon-features {
    width: 40px;
    margin-bottom: 10px;
}

.color-features {
    fill:#ff7000;
}

.heading-block h1 {
    margin-bottom: 0px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.heading-block span {
    margin-top: .5rem;
    display: block;
    font-size: 1.2rem;
    font-weight: 100;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.heading-block::after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 40px;
    border-top: 2px solid #eee;
    margin: 30px auto 0;
}

.content-wrap {
    position: relative;
    padding: 50px 0;
    background-color: rgba(56, 56, 56, 1);
    overflow: hidden;
}

.tit-bloque h1 {
    font-size: 1.2rem;
    margin-bottom: 0;
    text-align: left;
    padding-top: 0rem;
    letter-spacing: 1px;
    color: rgba(238, 238, 238, 1);
}

.bloque-encabezado::after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 40px;
    border-top: 2px solid rgba(238, 238, 238, 1);
    margin: 30px auto 0;
}

.ante-titulo {
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    font-weight: 400;
    display: block;
    font-style: italic;
    margin: 0 0 5px;
    color: rgba(132, 132, 132, 1);
}

/*---- PIE DE PÁGINA ----*/

.page-footer {
    background-color: rgba(32, 32, 32, 1);
}

/*---- **** FORMULARIO **** ----*/

.form-control:focus, .custom-select:focus, button[type="submit"]:focus, .boton-naranja:focus, .btn-custom:focus {
    border-color: rgb(54, 54, 54);
    box-shadow: 0 0 0 0.2rem rgba(82, 82, 82, 0.25);
}

button[type="submit"]:focus, .boton-naranja:focus, .btn-custom:focus {
    border: none;
}

.caja-titular-form {
    padding: 3rem 0.5625rem;
}

.bg-300 {
    background: linear-gradient(90deg, #032358 0%, #2c6ea5 100%);
    background-color: rgba(255, 255, 255, 1);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(90deg, #032358 0%, #2c6ea5 100%);
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.bg-100 {
    background: linear-gradient(90deg, #69003b 0%, #e9466f 100%);
    background-color: rgba(255, 255, 255, 1);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(90deg, #69003b 0%, #e9466f  100%);
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.bg-title {
    background: linear-gradient(90deg, #ff008c 0%, #0085e4 100%);
    background-color: rgba(255, 255, 255, 1);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(90deg, #ff008c 0%, #0085e4 100%);
}

.sub-titulo {
    color: #fff;
    font-weight: 300;
}

.caja-titular-form h1 {
    font-size: 1.5rem;
    text-transform: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: left;
}

/* -----SELECT CUSTOM----- */

.custom-select {
    color: rgb(61, 61, 61);
}

::placeholder {
    color: rgba(173, 173, 173, 1) !important;
}

label {
    font-family: "Poppins", "sans-serif";
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: rgba(114, 114, 114, 1);
}

.flecha-titular {
    font-weight: 500;
}

.boton-naranja, .boton-naranja:link, .boton-naranja:visited {
    background-color: rgba(255, 112, 0, 1);
    color: white;
}

.boton-naranja:hover {
    background-color: rgba(189, 82, 0, 1);
    color: white;
}

.btn-custom, .btn-custom:link, .btn-custom:visited {
    background-color: #26105C;
    color: white;
}

.btn-custom:hover {
    background-color: rgb(255, 0, 157);
    color: white;
}

.custom-select {
    background-image: url(../images/arrow.svg);
    background-size: 0.6rem;
    color: rgba(114, 114, 114, 1);
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
    /*Evita que se muestre la flecha por defecto en versiones de IE*/
}

/* ----BOTON SCROLL--- */

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display:none;
}

.back-to-top:link, .back-to-top:hover, .back-to-top:link, .back-to-top:visited {
    background-color: rgba(121, 121, 121, 0.5);
    color: white;
    outline: 0px;
    box-shadow: none;
}
